.carouselImage {
  margin-bottom: 10px;
  height: 293px;
  width: 282px;
}

@media (min-width: 768px) {
  .ChartSectionSkeleton {
  }
}

@media (min-width: 1280px) {
  .carouselImage {
    margin-bottom: 12px;
  }
}
