.intro {
  position: relative;
  width: 100%;
  height: 812px;
  top: 0;
}

@media (min-width: 768px) {
  .intro {
    height: 1200px;
  }
}

@media (min-width: 1280px) {
  .intro {
    height: 1080px;
  }
}

.introTitle {
  position: relative;
  display: flex;
  justify-content: center;
  top: 100px;
}

@media (min-width: 768px) {
  .introTitle {
    top: 120px;
  }
}

@media (min-width: 1280px) {
  .introTitle {
    top: 140px;
  }
}

.introTitleFont {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
  text-align: center;
  z-index: 9999;
}

@media (min-width: 768px) {
  .introTitleFont {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.87px;
  }
}

@media (min-width: 1280px) {
  .introTitleFont {
    font-size: 26px;
    font-weight: 700;
    line-height: 31.03px;
  }
}

.introImgWrap {
  display: flex;
  width: 393.68px;
  height: 329.84px;
  margin: -100px auto;
}

@media (min-width: 768px) {
  .introImgWrap {
    width: 713.98px;
    height: 598.2px;
    margin-top: -120px;
  }
}

@media (min-width: 1280px) {
  .introImgWrap {
    width: 932.4px;
    height: 781.2px;
    margin-top: -385px;
  }
}

.introImg {
  display: block;
  width: 95%;
  height: 100%;
  opacity: 0.7;
  margin: 0 auto;
}

.logoImgWrap {
  display: flex;
  width: 236.64px;
  height: 45.1px;
  opacity: 0px;
  margin: 130px auto;
}

@media (min-width: 768px) {
  .logoImgWrap {
    width: 325.34px;
    height: 62px;
    margin-top: 160px;
  }
}

@media (min-width: 1280px) {
  .logoImgWrap {
    width: 509px;
    height: 97px;
    margin-top: 165px;
  }
}

.logoImg {
  width: 100%;
  object-fit: contain;
  z-index: 9999;
}

.landingButton {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

@media (min-width: 768px) {
  .landingButton {
    margin-top: 132px;
  }
}

@media (min-width: 1280px) {
  .landingButton {
    margin-top: 150px;
  }
}

.landingButtonFont {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .landingButtonFont {
    font-weight: 700;
  }
}

.description {
  width: 100%;
  height: 2436px;
}

@media (min-width: 768px) {
  .description {
    height: 2232px;
  }
}

@media (min-width: 1280px) {
  .description {
    height: 3600px;
  }
}

.backgroundGradient {
  position: relative;
  width: 744px;
  height: 744px;
  margin: 13px -184px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(2, 0, 14, 0) 0%,
    rgba(2, 0, 14, 0.180099) 37.5%,
    rgba(2, 0, 14, 0.5) 79.5%,
    #02000e 100%
  );
}

@media (min-width: 768px) {
  .backgroundGradient {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .backgroundGradient {
    width: 1200px;
    height: 1200px;
  }
}

.descriptionSection {
  position: relative;
  width: 100%;
  height: 812px;
  opacity: 0px;
  background: pink;
}

@media (min-width: 768px) {
  .descriptionSection {
    height: 744px;
    background: green;
  }
}

@media (min-width: 1280px) {
  .descriptionSection {
    height: 1200px;
    background: yellow;
  }
}

.mobile {
  display: flex;
  width: 240px;
  height: 520.25px;
  margin: 120px auto;
}

@media (min-width: 768px) {
  .mobile {
    width: 200px;
    height: 433.54px;
    margin: 140px auto;
  }
}

@media (min-width: 1280px) {
  .mobile {
    width: 320px;
    height: 693.66px;
    margin: 220px auto;
  }
}

.descriptionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  top: 76px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #d2c030;
}

@media (min-width: 768px) {
  .descriptionTitle {
    top: 100px;
  }
}

@media (min-width: 1280px) {
  .descriptionTitle {
    top: 170px;
  }
}

.descriptionText {
  position: relative;
  display: flex;
  justify-content: center;
  top: 80px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: #ffffffde;
}

@media (min-width: 768px) {
  .descriptionText {
    text-align: center;
    top: 110px;
  }
}

@media (min-width: 1280px) {
  .descriptionText {
    top: 180px;
  }
}

.mobileLeft {
  text-align: left;
  position: relative;
  right: 63px;
}

@media (min-width: 768px) {
  .mobileLeft {
    text-align: center;
    right: auto;
  }
}

.mobileRight {
  text-align: right;
  position: relative;
  left: 63px;
}

@media (min-width: 768px) {
  .mobileRight {
    text-align: center;
    left: auto;
  }
}

.r63 {
  right: 63px;
}

@media (min-width: 768px) {
  .r63 {
    right: auto;
  }
}

.l50 {
  left: 50px;
}

@media (min-width: 768px) {
  .l50 {
    left: auto;
  }
}

.r50 {
  right: 50px;
}

@media (min-width: 768px) {
  .r50 {
    right: auto;
  }
}
