.MyPage {
  color: white;
}
.sectionTitle {
}
.horizontalLine {
  size: 1px;
  color: white;
  opacity: 0.1;
}
.favoriteIdols {
}
.addFavoriteIdols {
  position: relative;
}
.addFavoriteIdolsWrapper {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
}
.prevBtn {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.nextBtn {
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.myFavoriteIdolsWrapper {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
  overflow-x: scroll;
  width: 100%;
}
.myFavoriteIdolsWrapper::-webkit-scrollbar {
  display: none;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
