.CreditWarnModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreditImg {
  width: 113px;
}

.accent {
  color: var(--mantine-color-brand-0);
}
.btn {
  margin-top: 30px;
}
