.ModalRoot {
  color: var(--mantine-color-white-1);
}
.ModalTitle {
  font-weight: 600 !important;
  font-size: 18px !important;
}
.ModalCloseButton {
  color: #8b8e92;
}
.ModalCloseButton:hover {
  background-color: transparent !important;
}
.ModalHeader {
  background-color: var(--mantine-color-black-1) !important;
}
.ModalBody {
  background-color: var(--mantine-color-black-1);
}
