.landingButtonWrap {
  width: 230px !important;
  height: 48px !important;
}

@media (min-width: 768px) {
  .landingButtonWrap {
    width: 477px !important;
  }
}

.landing {
  width: 100% !important;
  height: 100% !important;
  padding: 11px 76px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

@media (min-width: 768px) {
  .landing {
    width: 100% !important;
    padding: 11px 0px !important;
  }
}

.donateButtonWrap {
  width: 142px !important;
  height: 31px !important;
}

@media (min-width: 768px) {
  .donateButtonWrap {
    width: 234px !important;
    height: 40px !important;
  }
}

.donate {
  width: 100% !important;
  height: 100% !important;
  padding: 2px 16px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

@media (min-width: 768px) {
  .donate {
    width: 100% !important;
    height: 100% !important;
  }
}

.voteButtonWrap {
  width: 128px !important;
  height: 32px !important;
}

.vote {
  width: 100% !important;
  height: 100% !important;
  padding: 2px 8px !important;
  gap: 4px;
  border-radius: 3px !important;
  border: none !important;
}

.moreButtonWrap {
  width: 326px !important;
  height: 42px !important;
}

.more {
  width: 100% !important;
  height: 100% !important;
  padding: 8px 136px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: 1px solid #f1eef9 !important;
}

.rechargeButtonWrap {
  width: 295px !important;
  height: 42px !important;
}

.recharge {
  width: 100% !important;
  height: 100% !important;
  padding: 8px 0px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

.modalDonateButtonWrap {
  width: 295px !important;
  height: 42px !important;
}

.modalDonate {
  width: 100% !important;
  height: 100% !important;
  padding: 8px 0px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

.modalVoteButtonWrap {
  width: 327px !important;
  height: 42px !important;
}

@media (min-width: 768px) {
  .modalVoteButtonWrap {
    width: 477px !important;
  }
}

.modalVote {
  width: 100% !important;
  height: 100% !important;
  padding: 8px 0px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

@media (min-width: 768px) {
  .modalVote {
    width: 100% !important;
  }
}

.confirmButtonWrap {
  width: 295px !important;
  height: 42px !important;
}

.confirm {
  width: 100% !important;
  height: 100% !important;
  padding: 8px 0px !important;
  gap: 8px;
  border-radius: 3px !important;
  border: none !important;
}

.addButtonWrap {
  width: 255px !important;
  height: 48px !important;
}

.add {
  width: 100% !important;
  height: 100% !important;
  border-radius: 24px !important;
  border: none !important;
}

.red {
  background: linear-gradient(
    91.18deg,
    #f77063 3.33%,
    #fe5790 99.37%
  ) !important;
}

.grey {
  background: #828282 !important;
}

.grey:hover {
  background: linear-gradient(
    91.18deg,
    #f77063 3.33%,
    #fe5790 99.37%
  ) !important;
}

.black {
  background: transparent !important;
}

.black:hover {
  background: transparent !important;
}

.chartGap {
  margin-right: -6px;
}

.creditGap {
  margin-right: -10px;
}

.plusGap {
  margin-right: -2px;
}
