.ChartCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 70px;
}

.ChartCardWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rank {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--mantine-color-brand-0);
  opacity: 0.6;
}

.name,
.group {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.87;
}

.totalVotes {
  font-size: 16px;
  font-size: 400;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .ChartCard {
    width: 700px;
  }
  .rank {
    font-size: 14px;
    line-height: 17px;
  }
  .name,
  .group {
    font-size: 14px;
    line-height: 17px;
  }
  .totalVotes {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 1280px) {
  .ChartCard {
    width: 588px;
  }
  .rank {
    font-size: 16px;
    line-height: 19px;
  }
  .name,
  .group {
    font-size: 16px;
    line-height: 19px;
  }
  .totalVotes {
    font-size: 16px;
    line-height: 19px;
  }
}
