.ModalRoot {
  color: var(--mantine-color-white-1);
}
.ModalTitle {
  font-weight: 800;
}
.ModalCloseButton {
  color: #8b8e92;
}
.ModalCloseButton:hover {
  background-color: transparent;
}
.ModalHeader {
  background-color: var(--mantine-color-black-1);
}
.ModalBody {
  background-color: var(--mantine-color-black-1);
}
