.MycreditButton {
  width: 327px;
  height: 87px;
  border-radius: 8px;
  border: 1px solid #f1eef9;
  background: transparent;
}

.MycreditButton:hover {
  background: transparent;
}

.creditContainer {
  display: flex;
  justify-content: flex-start;
}

.creditTitle {
  margin-top: 20px;
  margin-left: 20px;
}

.creditContent {
  display: flex;
  align-items: center;
}

.creditIcon {
  margin-right: 3px;
  margin-bottom: 48px;
}

.creditAmount {
  margin-bottom: 50px;
}

.textSection {
  margin: 30px 80px 30px 0;
}

@media (min-width: 768px) {
  .MycreditButton {
    width: 696px;
    height: 131px;
  }
}

@media (min-width: 1280px) {
  .MycreditButton {
    width: 1200px;
    height: 131px;
  }
}
