.chartSection {
  margin: 0 auto;
}

.typography {
  color: var(--mantine-color-white-0);
}

.chartButtonWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.tabWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100%;
}

.tab {
  display: inline-block;
  width: 50%;
  padding: 10px;
  color: #828282;
  text-align: center;
  cursor: pointer;
}

.focused {
  border-bottom: 1px solid var(--mantine-color-white-0);
  background-color: #ffffff10;
  font-weight: bold;
  color: var(--mantine-color-white-0);
}

.chart {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 12px;
}

.moreButtonWrapper {
  margin-top: 51px;
  margin-bottom: 59px;
}

@media (min-width: 768px) {
  .moreButtonWrapper {
    margin-bottom: 330px;
  }
}

@media (min-width: 1280px) {
  .chartSection {
    max-width: 1200px;
  }
  .moreButtonWrapper {
    margin-bottom: 243px;
  }
}
