.imageSection {
  position: relative;
  width: 158px;
  height: 206px;
  margin: 0;
}

.overlayImage {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  width: 100%;
}

.donateButton {
  position: absolute;
  margin: 8px 20px;
  right: 0;
  bottom: 0;
}

.progressbarSection {
  width: 158px;
  height: auto;
  margin-top: 12px;
}

.artistImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.btn {
  width: 124px;
  height: 31px;
  margin: 8px 20px;
}

.progressbarTextSection {
  display: flex;
  justify-content: space-between;
}

.progressbarCreditSection {
  display: flex;
  align-items: center;
}

.carouselWrapper {
  width: auto;
}

.root {
  width: 100%;
  margin-left: 24px;
}

@media (min-width: 768px) {
  .imageSection {
    width: 282px;
    height: 293px;
  }

  .donateButton {
    margin: 20px 24px;
  }

  .progressbarSection {
    width: 282px;
  }
}

@media (min-width: 1200px) {
  .carouselWrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .root {
    width: 100%;
  }

  .control {
    &[data-inactive] {
      visibility: hidden;
    }
  }

  .controls {
    width: 1361px;
    margin-left: calc((100% - 1361px) / 2);
    margin-right: calc((100% - 1361px) / 2);
  }
}
