.DeleteBtn {
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.deleteBtnImg {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .DeleteBtn {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1280px) {
}
