.FavoriteRoundCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.roundCardWrapper {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name {
  margin: 0;
  color: #f4efef;
  font-weight: 700;
}
.groupName {
  margin: 0;
  color: white;
  opacity: 0.6;
}
@media (min-width: 780px) {
  .roundCardWrapper {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1280px) {
}
